
<h4>Current Player Pot: <span class="pot">$<%= session[:player_pot] %></span><br/> Enter your bet: </h4>

<form action="enter_bet" method="post">
  <input type="text" name="bet">
  <br/>
  <input type="submit" class="btn">
</form>
<br/>
<img src='/images/cards/chips.png'>