<style type='text/css'>
body{
background-image:url('/images/cards/background.jpg');
background-position: left top;
background-repeat: no-repeat;
background-color: black;
background-size: 130%;

}

h2, h5{
  color: white;
  text-shadow: 0 0 6px black;
}
</style>

<h2>Welcome to Blackjack!</h2>
<h5>Enter your name to get started </h5>

<form action="start_game" method="post">
  <input type="text" name="player_name">
  <br/>
  <input type="submit" value="Submit" class="btn">
</form>

